// Variables
$website-width: 1280px;
$main-color: #7FDBFF;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');
// not going to dist folder as sass compiles to css and css is in dist folder already